<script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-2.0.9.js"></script>
<script>

  //var accessToken = 98fnWZ6dyUhJFx53cP939mJE68tuQK;
</script>
<div ng-controller="IndexController">

    <super-navbar>
		<super-navbar-title>Sort my Trash!</super-navbar-title>
	</super-navbar>
    <div class="row">
        <div class="col col-70 col-offset-15">
            <img class='img-full' id='listingImg' ng-click="updateImg()" src='http://iconshow.me/media/images/Application/Modern-Flat-style-Icons/png/512/Camera.png'/>
        </div>
    </div>
</div>